.texto-aliceblue {
    color: aliceblue !important;
} 

.fondo-aliceblue {
    background-color: aliceblue !important;
} 

.texto-antiquewhite {
    color: antiquewhite !important;
} 

.fondo-antiquewhite {
    background-color: antiquewhite !important;
} 

.texto-aqua {
    color: aqua !important;
} 

.fondo-aqua {
    background-color: aqua !important;
} 

.texto-aquamarine {
    color: aquamarine !important;
} 

.fondo-aquamarine {
    background-color: aquamarine !important;
} 

.texto-azure {
    color: azure !important;
} 

.fondo-azure {
    background-color: azure !important;
} 

.texto-beige {
    color: beige !important;
} 

.fondo-beige {
    background-color: beige !important;
} 

.texto-bisque {
    color: bisque !important;
} 

.fondo-bisque {
    background-color: bisque !important;
} 

.texto-black {
    color: black !important;
} 

.fondo-black {
    background-color: black !important;
} 

.texto-blanchedalmond {
    color: blanchedalmond !important;
} 

.fondo-blanchedalmond {
    background-color: blanchedalmond !important;
} 

.texto-blue {
    color: blue !important;
} 

.fondo-blue {
    background-color: blue !important;
} 

.texto-blueviolet {
    color: blueviolet !important;
} 

.fondo-blueviolet {
    background-color: blueviolet !important;
} 

.texto-brown {
    color: brown !important;
} 

.fondo-brown {
    background-color: brown !important;
} 

.texto-burlywood {
    color: burlywood !important;
} 

.fondo-burlywood {
    background-color: burlywood !important;
} 

.texto-cadetblue {
    color: cadetblue !important;
} 

.fondo-cadetblue {
    background-color: cadetblue !important;
} 

.texto-chartreuse {
    color: chartreuse !important;
} 

.fondo-chartreuse {
    background-color: chartreuse !important;
} 

.texto-chocolate {
    color: chocolate !important;
} 

.fondo-chocolate {
    background-color: chocolate !important;
} 

.texto-coral {
    color: coral !important;
} 

.fondo-coral {
    background-color: coral !important;
} 

.texto-cornflowerblue {
    color: cornflowerblue !important;
} 

.fondo-cornflowerblue {
    background-color: cornflowerblue !important;
} 

.texto-cornsilk {
    color: cornsilk !important;
} 

.fondo-cornsilk {
    background-color: cornsilk !important;
} 

.texto-crimson {
    color: crimson !important;
} 

.fondo-crimson {
    background-color: crimson !important;
} 

.texto-cyan {
    color: cyan !important;
} 

.fondo-cyan {
    background-color: cyan !important;
} 

.texto-darkblue {
    color: darkblue !important;
} 

.fondo-darkblue {
    background-color: darkblue !important;
} 

.texto-darkcyan {
    color: darkcyan !important;
} 

.fondo-darkcyan {
    background-color: darkcyan !important;
} 

.texto-darkgoldenrod {
    color: darkgoldenrod !important;
} 

.fondo-darkgoldenrod {
    background-color: darkgoldenrod !important;
} 

.texto-darkgray {
    color: darkgray !important;
} 

.fondo-darkgray {
    background-color: darkgray !important;
} 

.texto-darkgreen {
    color: darkgreen !important;
} 

.fondo-darkgreen {
    background-color: darkgreen !important;
} 

.texto-darkkhaki {
    color: darkkhaki !important;
} 

.fondo-darkkhaki {
    background-color: darkkhaki !important;
} 

.texto-darkmagenta {
    color: darkmagenta !important;
} 

.fondo-darkmagenta {
    background-color: darkmagenta !important;
} 

.texto-darkolivegreen {
    color: darkolivegreen !important;
} 

.fondo-darkolivegreen {
    background-color: darkolivegreen !important;
} 

.texto-darkorange {
    color: darkorange !important;
} 

.fondo-darkorange {
    background-color: darkorange !important;
} 

.texto-darkorchid {
    color: darkorchid !important;
} 

.fondo-darkorchid {
    background-color: darkorchid !important;
} 

.texto-darkred {
    color: darkred !important;
} 

.fondo-darkred {
    background-color: darkred !important;
} 

.texto-darksalmon {
    color: darksalmon !important;
} 

.fondo-darksalmon {
    background-color: darksalmon !important;
} 

.texto-darkseagreen {
    color: darkseagreen !important;
} 

.fondo-darkseagreen {
    background-color: darkseagreen !important;
} 

.texto-darkslateblue {
    color: darkslateblue !important;
} 

.fondo-darkslateblue {
    background-color: darkslateblue !important;
} 

.texto-darkslategray {
    color: darkslategray !important;
} 

.fondo-darkslategray {
    background-color: darkslategray !important;
} 

.texto-darkturquoise {
    color: darkturquoise !important;
} 

.fondo-darkturquoise {
    background-color: darkturquoise !important;
} 

.texto-darkviolet {
    color: darkviolet !important;
} 

.fondo-darkviolet {
    background-color: darkviolet !important;
} 

.texto-deeppink {
    color: deeppink !important;
} 

.fondo-deeppink {
    background-color: deeppink !important;
} 

.texto-deepskyblue {
    color: deepskyblue !important;
} 

.fondo-deepskyblue {
    background-color: deepskyblue !important;
} 

.texto-dimgray {
    color: dimgray !important;
} 

.fondo-dimgray {
    background-color: dimgray !important;
} 

.texto-dodgerblue {
    color: dodgerblue !important;
} 

.fondo-dodgerblue {
    background-color: dodgerblue !important;
} 

.texto-firebrick {
    color: firebrick !important;
} 

.fondo-firebrick {
    background-color: firebrick !important;
} 

.texto-floralwhite {
    color: floralwhite !important;
} 

.fondo-floralwhite {
    background-color: floralwhite !important;
} 

.texto-forestgreen {
    color: forestgreen !important;
} 

.fondo-forestgreen {
    background-color: forestgreen !important;
} 

.texto-fuchsia {
    color: fuchsia !important;
} 

.fondo-fuchsia {
    background-color: fuchsia !important;
} 

.texto-gainsboro {
    color: gainsboro !important;
} 

.fondo-gainsboro {
    background-color: gainsboro !important;
} 

.texto-ghostwhite {
    color: ghostwhite !important;
} 

.fondo-ghostwhite {
    background-color: ghostwhite !important;
} 

.texto-gold {
    color: gold !important;
} 

.fondo-gold {
    background-color: gold !important;
} 

.texto-goldenrod {
    color: goldenrod !important;
} 

.fondo-goldenrod {
    background-color: goldenrod !important;
} 

.texto-gray {
    color: gray !important;
} 

.fondo-gray {
    background-color: gray !important;
} 

.texto-green {
    color: green !important;
} 

.fondo-green {
    background-color: green !important;
} 

.texto-greenyellow {
    color: greenyellow !important;
} 

.fondo-greenyellow {
    background-color: greenyellow !important;
} 

.texto-honeydew {
    color: honeydew !important;
} 

.fondo-honeydew {
    background-color: honeydew !important;
} 

.texto-hotpink {
    color: hotpink !important;
} 

.fondo-hotpink {
    background-color: hotpink !important;
} 

.texto-indianred {
    color: indianred !important;
} 

.fondo-indianred {
    background-color: indianred !important;
} 

.texto-indigo {
    color: indigo !important;
} 

.fondo-indigo {
    background-color: indigo !important;
} 

.texto-ivory {
    color: ivory !important;
} 

.fondo-ivory {
    background-color: ivory !important;
} 

.texto-khaki {
    color: khaki !important;
} 

.fondo-khaki {
    background-color: khaki !important;
} 

.texto-lavender {
    color: lavender !important;
} 

.fondo-lavender {
    background-color: lavender !important;
} 

.texto-lavenderblush {
    color: lavenderblush !important;
} 

.fondo-lavenderblush {
    background-color: lavenderblush !important;
} 

.texto-lawngreen {
    color: lawngreen !important;
} 

.fondo-lawngreen {
    background-color: lawngreen !important;
} 

.texto-lemonchiffon {
    color: lemonchiffon !important;
} 

.fondo-lemonchiffon {
    background-color: lemonchiffon !important;
} 

.texto-lightblue {
    color: lightblue !important;
} 

.fondo-lightblue {
    background-color: lightblue !important;
} 

.texto-lightcoral {
    color: lightcoral !important;
} 

.fondo-lightcoral {
    background-color: lightcoral !important;
} 

.texto-lightcyan {
    color: lightcyan !important;
} 

.fondo-lightcyan {
    background-color: lightcyan !important;
} 

.texto-lightgoldenrodyellow {
    color: lightgoldenrodyellow !important;
} 

.fondo-lightgoldenrodyellow {
    background-color: lightgoldenrodyellow !important;
} 

.texto-lightgray {
    color: lightgray !important;
} 

.fondo-lightgray {
    background-color: lightgray !important;
} 

.texto-lightgreen {
    color: lightgreen !important;
} 

.fondo-lightgreen {
    background-color: lightgreen !important;
} 

.texto-lightpink {
    color: lightpink !important;
} 

.fondo-lightpink {
    background-color: lightpink !important;
} 

.texto-lightsalmon {
    color: lightsalmon !important;
} 

.fondo-lightsalmon {
    background-color: lightsalmon !important;
} 

.texto-lightseagreen {
    color: lightseagreen !important;
} 

.fondo-lightseagreen {
    background-color: lightseagreen !important;
} 

.texto-lightskyblue {
    color: lightskyblue !important;
} 

.fondo-lightskyblue {
    background-color: lightskyblue !important;
} 

.texto-lightslategray {
    color: lightslategray !important;
} 

.fondo-lightslategray {
    background-color: lightslategray !important;
} 

.texto-lightsteelblue {
    color: lightsteelblue !important;
} 

.fondo-lightsteelblue {
    background-color: lightsteelblue !important;
} 

.texto-lightyellow {
    color: lightyellow !important;
} 

.fondo-lightyellow {
    background-color: lightyellow !important;
} 

.texto-lime {
    color: lime !important;
} 

.fondo-lime {
    background-color: lime !important;
} 

.texto-limegreen {
    color: limegreen !important;
} 

.fondo-limegreen {
    background-color: limegreen !important;
} 

.texto-linen {
    color: linen !important;
} 

.fondo-linen {
    background-color: linen !important;
} 

.texto-magenta {
    color: magenta !important;
} 

.fondo-magenta {
    background-color: magenta !important;
} 

.texto-maroon {
    color: maroon !important;
} 

.fondo-maroon {
    background-color: maroon !important;
} 

.texto-mediumaquamarine {
    color: mediumaquamarine !important;
} 

.fondo-mediumaquamarine {
    background-color: mediumaquamarine !important;
} 

.texto-mediumblue {
    color: mediumblue !important;
} 

.fondo-mediumblue {
    background-color: mediumblue !important;
} 

.texto-mediumorchid {
    color: mediumorchid !important;
} 

.fondo-mediumorchid {
    background-color: mediumorchid !important;
} 

.texto-mediumpurple {
    color: mediumpurple !important;
} 

.fondo-mediumpurple {
    background-color: mediumpurple !important;
} 

.texto-mediumseagreen {
    color: mediumseagreen !important;
} 

.fondo-mediumseagreen {
    background-color: mediumseagreen !important;
} 

.texto-mediumslateblue {
    color: mediumslateblue !important;
} 

.fondo-mediumslateblue {
    background-color: mediumslateblue !important;
} 

.texto-mediumspringgreen {
    color: mediumspringgreen !important;
} 

.fondo-mediumspringgreen {
    background-color: mediumspringgreen !important;
} 

.texto-mediumturquoise {
    color: mediumturquoise !important;
} 

.fondo-mediumturquoise {
    background-color: mediumturquoise !important;
} 

.texto-mediumvioletred {
    color: mediumvioletred !important;
} 

.fondo-mediumvioletred {
    background-color: mediumvioletred !important;
} 

.texto-midnightblue {
    color: midnightblue !important;
} 

.fondo-midnightblue {
    background-color: midnightblue !important;
} 

.texto-mintcream {
    color: mintcream !important;
} 

.fondo-mintcream {
    background-color: mintcream !important;
} 

.texto-mistyrose {
    color: mistyrose !important;
} 

.fondo-mistyrose {
    background-color: mistyrose !important;
} 

.texto-moccasin {
    color: moccasin !important;
} 

.fondo-moccasin {
    background-color: moccasin !important;
} 

.texto-navajowhite {
    color: navajowhite !important;
} 

.fondo-navajowhite {
    background-color: navajowhite !important;
} 

.texto-navy {
    color: navy !important;
} 

.fondo-navy {
    background-color: navy !important;
} 

.texto-oldlace {
    color: oldlace !important;
} 

.fondo-oldlace {
    background-color: oldlace !important;
} 

.texto-olive {
    color: olive !important;
} 

.fondo-olive {
    background-color: olive !important;
} 

.texto-olivedrab {
    color: olivedrab !important;
} 

.fondo-olivedrab {
    background-color: olivedrab !important;
} 

.texto-orange {
    color: orange !important;
} 

.fondo-orange {
    background-color: orange !important;
} 

.texto-orangered {
    color: orangered !important;
} 

.fondo-orangered {
    background-color: orangered !important;
} 

.texto-orchid {
    color: orchid !important;
} 

.fondo-orchid {
    background-color: orchid !important;
} 

.texto-palegoldenrod {
    color: palegoldenrod !important;
} 

.fondo-palegoldenrod {
    background-color: palegoldenrod !important;
} 

.texto-palegreen {
    color: palegreen !important;
} 

.fondo-palegreen {
    background-color: palegreen !important;
} 

.texto-paleturquoise {
    color: paleturquoise !important;
} 

.fondo-paleturquoise {
    background-color: paleturquoise !important;
} 

.texto-palevioletred {
    color: palevioletred !important;
} 

.fondo-palevioletred {
    background-color: palevioletred !important;
} 

.texto-papayawhip {
    color: papayawhip !important;
} 

.fondo-papayawhip {
    background-color: papayawhip !important;
} 

.texto-peachpuff {
    color: peachpuff !important;
} 

.fondo-peachpuff {
    background-color: peachpuff !important;
} 

.texto-peru {
    color: peru !important;
} 

.fondo-peru {
    background-color: peru !important;
} 

.texto-pink {
    color: pink !important;
} 

.fondo-pink {
    background-color: pink !important;
} 

.texto-plum {
    color: plum !important;
} 

.fondo-plum {
    background-color: plum !important;
} 

.texto-powderblue {
    color: powderblue !important;
} 

.fondo-powderblue {
    background-color: powderblue !important;
} 

.texto-purple {
    color: purple !important;
} 

.fondo-purple {
    background-color: purple !important;
} 

.texto-red {
    color: red !important;
} 

.fondo-red {
    background-color: red !important;
} 

.texto-rosybrown {
    color: rosybrown !important;
} 

.fondo-rosybrown {
    background-color: rosybrown !important;
} 

.texto-royalblue {
    color: royalblue !important;
} 

.fondo-royalblue {
    background-color: royalblue !important;
} 

.texto-saddlebrown {
    color: saddlebrown !important;
} 

.fondo-saddlebrown {
    background-color: saddlebrown !important;
} 

.texto-salmon {
    color: salmon !important;
} 

.fondo-salmon {
    background-color: salmon !important;
} 

.texto-sandybrown {
    color: sandybrown !important;
} 

.fondo-sandybrown {
    background-color: sandybrown !important;
} 

.texto-seagreen {
    color: seagreen !important;
} 

.fondo-seagreen {
    background-color: seagreen !important;
} 

.texto-seashell {
    color: seashell !important;
} 

.fondo-seashell {
    background-color: seashell !important;
} 

.texto-sienna {
    color: sienna !important;
} 

.fondo-sienna {
    background-color: sienna !important;
} 

.texto-silver {
    color: silver !important;
} 

.fondo-silver {
    background-color: silver !important;
} 

.texto-skyblue {
    color: skyblue !important;
} 

.fondo-skyblue {
    background-color: skyblue !important;
} 

.texto-slateblue {
    color: slateblue !important;
} 

.fondo-slateblue {
    background-color: slateblue !important;
} 

.texto-slategray {
    color: slategray !important;
} 

.fondo-slategray {
    background-color: slategray !important;
} 

.texto-snow {
    color: snow !important;
} 

.fondo-snow {
    background-color: snow !important;
} 

.texto-springgreen {
    color: springgreen !important;
} 

.fondo-springgreen {
    background-color: springgreen !important;
} 

.texto-steelblue {
    color: steelblue !important;
} 

.fondo-steelblue {
    background-color: steelblue !important;
} 

.texto-tan {
    color: tan !important;
} 

.fondo-tan {
    background-color: tan !important;
} 

.texto-teal {
    color: teal !important;
} 

.fondo-teal {
    background-color: teal !important;
} 

.texto-thistle {
    color: thistle !important;
} 

.fondo-thistle {
    background-color: thistle !important;
} 

.texto-tomato {
    color: tomato !important;
} 

.fondo-tomato {
    background-color: tomato !important;
} 

.texto-turquoise {
    color: turquoise !important;
} 

.fondo-turquoise {
    background-color: turquoise !important;
} 

.texto-violet {
    color: violet !important;
} 

.fondo-violet {
    background-color: violet !important;
} 

.texto-wheat {
    color: wheat !important;
} 

.fondo-wheat {
    background-color: wheat !important;
} 

.texto-white {
    color: white !important;
} 

.fondo-white {
    background-color: white !important;
} 

.texto-whitesmoke {
    color: whitesmoke !important;
} 

.fondo-whitesmoke {
    background-color: whitesmoke !important;
} 

.texto-yellow {
    color: yellow !important;
} 

.fondo-yellow {
    background-color: yellow !important;
} 

.texto-yellowgreen {
    color: yellowgreen !important;
}

.fondo-yellowgreen {
    background-color: yellowgreen !important;
}